@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://db.onlinewebfonts.com/c/6061c980f1f3f9420e1829c57a44cd23?family=Gilroy + Heavy");
@import url("https://db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display");

// colors
$blue: #3740ff;
$btn-blue: #474dff;
$red: #ff014e;
$light: rgba(71, 77, 255, 0.03);
$text-red: #ff014e;

html {
  margin: 0 auto;
}

body {
  margin: 0 auto;
}

header {
  background: $blue;
  display: flex;
  justify-content: center;
  padding: 8px 250px 8px 90px;
}

nav {
  max-width: 1088px;
  margin: 30px auto 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.navbar-item {
      margin: 0 30px;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      font-size: 12px;

      &:hover,
      &:active,
      &.selected {
        color: $blue;
      }
    }
  }
}

.trial-btn {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: white;
  outline: none;
  border: none;
  border-radius: 9px;
  height: 42px;
  width: 129px;
  background: $blue;

  &.big-btn {
    transform: scale(1.5) translateX(22px);
  }
}

main {
  max-width: 1088px;
  margin: 0 auto;
}

.intro {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;

  .intro-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 1000;

    .intro-text {
      font-family: "Gilroy Heavy";
      font-size: 4.75rem;
    }
  }
  .intro-image {
    position: relative;
    right: 8rem;
    top: 3rem;
  }
}

.prices {
  display: flex;
  align-items: center;

  .prices-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4em;

    .prices-title {
      font-family: "Gilroy Heavy";
      font-size: 2.375rem;
      display: flex;
      flex-direction: column;
      line-height: 49px;
    }

    .prices-trial {
      font-family: "SF Pro Display";
      font-weight: bold;
      font-size: 14px;
      color: $blue;
      text-decoration: underline;
    }

    .prices-date {
      font-family: "SF Pro Display";
      font-size: 18px;
      color: $red;
      line-height: 24px;
    }

    .prices-details {
      font-family: "SF Pro Display";
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 25px;
  margin-top: 6.5rem;
  align-items: center;

  .category {
    border-radius: 35px;
    background: $light;
    text-align: center;
    height: 460px;

    .discount {
      background: $blue;
      color: white;
      font-weight: bolder;
      font-family: "Poppins", sans-serif;
      width: 85px;
      height: 33px;
      border-radius: 1.1rem;
      margin: 2rem auto 1rem;
      line-height: 33px;
    }

    .categories-followers {
      font-size: 1.1rem;
      font-family: "SF Pro Display";
    }

    .cat-price {
      font-family: "SF Pro Display";
      font-weight: bolder;
      font-size: 1.6rem;
      color: $text-red;
      margin-bottom: 0.75rem;
    }

    hr {
      width: 90%;
      border: 1px solid #707070;
      opacity: 10%;
      margin-bottom: 1.2rem;
    }

    ul {
      font-family: "SF Pro Display";
      font-weight: 600;
      font-size: 12px;
      line-height: 2rem;
      color: rgba(8, 9, 64, 0.8);
      list-style: inside url(./images/ul-dot.svg);
      text-align: start;
      margin-bottom: 2.25rem;
    }

    .buy-btn {
      height: 43px;
      width: 155px;
      outline: none;
      border: none;
      border-radius: 24px;
      background: transparent;
      border: 2px solid $blue;
      color: $btn-blue;
      font-family: "poppins";
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }

  .category-blue {
    border-radius: 36px;
    background: $btn-blue;
    text-align: center;
    width: 270px;
    box-shadow: 5px -4px 16px 2px rgba(224, 217, 224, 1);
    height: 535px;

    img.green-tick {
      position: relative;
      right: -107px;
      top: -1px;
    }

    .discount-blue {
      transform: scale(1.25);
      margin-top: 0;
    }

    .followers-blue {
      font-size: 1.25rem;
      font-family: "SF Pro Display";
      font-weight: normal;
      color: white;
      margin: 0;
    }

    .price-blue {
      font-size: 1.8rem;
      color: white;
      margin: 8px 0 13px 0;
    }

    .hr-blue {
      border: 1px solid #ffffff;
      opacity: 25%;
    }

    ul {
      line-height: 2.5rem;
      font-size: 13px;
      color: #ffffffcc;
      font-weight: 300;
      list-style: inside url(./images/ul-dot-white.svg);
    }

    .btn-blue {
      height: 48px;
      width: 175px;
      color: $blue;
      font-size: 12px;
      background: white;
      border: none;
    }
  }
}

.reasons {
  max-width: 1366px;
  background: $btn-blue;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-gap: 0 10rem;
  color: white;
  margin: 10rem auto;
  justify-content: space-between;
  padding: 106px 139px 158px 139px;

  .reasons__left {
    height: 450px;

    .left__pattern {
      margin-top: 75px;
    }
    .reasons__title {
      font-family: "Gilroy Heavy";
      font-size: 2.375rem;
    }
    .reasons__subtitle {
      font-family: "SF Pro Display";
      font-size: 14px;
      margin-top: 1.75rem;
      margin-bottom: 1.625rem;
      line-height: 1.6em;
    }
    .reasons__badge {
      text-align: center;
      background: hsla(0, 0%, 100%, 0.2);
      border-radius: 1rem;
      font-size: 1rem;
      font-family: "SF Pro Display";
      font-weight: bold;
      margin-bottom: 13px;
      width: 271px;
      height: 51px;
      line-height: 51px;
    }

    .reasons__ul {
      font-family: "SF Pro Display";
      list-style: none;
      line-height: 16px;

      li {
        margin: 1.25rem 0;
      }
    }
  }
  .reasons__right {
    // .right__illust {
    //   margin-top: 65px;
    // }
    margin-top: -40px;

    .right__title {
      font-family: "Gilroy Heavy";
      font-size: 1.5rem;
    }

    .right__subtitle {
      font-family: "SF Pro Display";
      font-size: 14px;
      line-height: 1.5em;
    }
  }
}

.idigic {
  max-width: 1088px;
  margin: 0 auto;
  display: flex;

  .idigic__content {
    margin-left: 3.75rem;

    .idigic__title {
      font-family: "Gilroy Heavy";
      font-size: 2.25rem;
      margin-top: 0;
    }

    .idigic__innerText {
      font-family: "SF Pro Display";
      font-size: 14px;
      line-height: 2em;
    }

    .trial-btn--idigic {
      margin-top: 30px;
    }
  }
}

.ratings {
  max-width: 1088px;
  margin: 12rem auto 5rem auto;
  display: flex;

  .ratings__title {
    font-family: "Gilroy Heavy";
    font-size: 2.25rem;
    margin-top: 0;
  }

  .ratings__right {
    display: flex;
    flex-direction: column;

    .ratings__cards {
      display: flex;
      justify-content: space-between;
      .ratings__card:first-child {
        margin-right: 20px;
      }

      .ratings__card {
        background: #ffffff;
        border-radius: 40px;
        box-shadow: 1px 0px 20px 1px #e0d9e05c;
        padding: 30px 30px 30px 30px;
        font-size: 13px;

        .ratings__card__review {
          font-family: "SF Pro Display";
          font-style: italic;
        }

        .ratings__card__reviewer {
          font-family: "poppins";
          margin-bottom: 0;
          font-weight: bold;
        }
      }
    }

    .trial-btn--idigic {
      width: 242px;
      margin-top: 45px;
      font-family: "poppins";
      font-size: 18px;
    }
  }
}
